.form-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 25px;
    background-color: #cce5ff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #004080;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: flex;
    margin-bottom: 6px;
    font-weight: 700;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.form-group input:focus {
    border-color: #cce5ff;
    outline: none;
    box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

.btn_primary {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_primary:hover {
    background-color: #004080;
}

.link {
    text-align: center;
    margin-top: 12px;
    display: flex;
    font-size: 14px;
    color: #004080;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}
